/*@font-face {
    font-family: 'ouijalite';
    src: url('/content/fonts/ouijalite/ouijalite.eot?dehhh8');
    src: url('/content/fonts/ouijalite/ouijalite.eot?dehhh8#iefix') format('embedded-opentype'), 
        url('/content/fonts/ouijalite/ouijalite.ttf?dehhh8') format('truetype'), 
        url('/content/fonts/ouijalite/ouijalite.woff?dehhh8') format('woff'), 
        url('/content/fonts/ouijalite/ouijalite.svg?dehhh8#ouijalite') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
  font-family: 'ouijalite';
  src: url('ouijalite/ouijalite.eot');
  src: url('ouijalite/ouijalite.eot') format('embedded-opentype'), url('ouijalite/ouijalite.ttf') format('truetype'), url('ouijalite/ouijalite.woff') format('woff'), url('ouijalite.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="rbico-"],
[class*=" rbico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ouijalite' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.rbico-trouble-shooting-2 .path1:before {
  content: "\e92b";
  color: #000000;
}
.rbico-trouble-shooting-2 .path2:before {
  content: "\e92c";
  margin-left: -1em;
  color: #231f20;
}
.rbico-trouble-shooting-2 .path3:before {
  content: "\e92d";
  margin-left: -1em;
  color: #231f20;
}
.rbico-trouble-shooting-2 .path4:before {
  content: "\e92e";
  margin-left: -1em;
  color: #231f20;
}
.rbico-trouble-shooting-2 .path5:before {
  content: "\e92f";
  margin-left: -1em;
  color: #231f20;
}
.rbico-trouble-shooting-2 .path6:before {
  content: "\e930";
  margin-left: -1em;
  color: #231f20;
}
.rbico-trouble-shooting-2 .path7:before {
  content: "\e931";
  margin-left: -1em;
  color: #ffffff;
}
.rbico-trouble-shooting-2 .path8:before {
  content: "\e932";
  margin-left: -1em;
  color: #000000;
}
.rbico-trouble-shooting .path1:before {
  content: "\e933";
  color: #231f20;
}
.rbico-trouble-shooting .path2:before {
  content: "\e934";
  margin-left: -1em;
  color: #231f20;
}
.rbico-trouble-shooting .path3:before {
  content: "\e935";
  margin-left: -1em;
  color: #231f20;
}
.rbico-trouble-shooting .path4:before {
  content: "\e936";
  margin-left: -1em;
  color: #231f20;
}
.rbico-trouble-shooting .path5:before {
  content: "\e937";
  margin-left: -1em;
  color: #231f20;
}
.rbico-trouble-shooting .path6:before {
  content: "\e938";
  margin-left: -1em;
  color: #000000;
}
.rbico-trouble-shooting .path7:before {
  content: "\e939";
  margin-left: -1em;
  color: #ffffff;
}
.rbico-trouble-shooting .path8:before {
  content: "\e93a";
  margin-left: -1em;
  color: #ffffff;
}
.rbico-sigfox-2:before {
  content: "\e93b";
}
.rbico-sigfox:before {
  content: "\e93c";
}
.rbico-power-analyzer-device-4:before {
  content: "\e93d";
}
.rbico-power-analyzer-device-3:before {
  content: "\e93e";
}
.rbico-power-analyzer-device-2:before {
  content: "\e93f";
}
.rbico-power-analyzer-device:before {
  content: "\e940";
}
.rbico-power-analyzer-4:before {
  content: "\e941";
}
.rbico-power-analyzer-3:before {
  content: "\e942";
}
.rbico-power-analyzer-2:before {
  content: "\e943";
}
.rbico-power-analizer .path1:before {
  content: "\e944";
  color: #000000;
}
.rbico-power-analizer .path2:before {
  content: "\e945";
  margin-left: -1em;
  color: #000000;
}
.rbico-power-analizer .path3:before {
  content: "\e946";
  margin-left: -1em;
  color: #000000;
}
.rbico-power-analizer .path4:before {
  content: "\e947";
  margin-left: -1em;
  color: #000000;
}
.rbico-power-analizer .path5:before {
  content: "\e948";
  margin-left: -1em;
  color: #000000;
}
.rbico-power-analizer .path6:before {
  content: "\e949";
  margin-left: -1em;
  color: #000000;
}
.rbico-power-analizer .path7:before {
  content: "\e94a";
  margin-left: -1em;
  color: #ffffff;
}
.rbico-power-analizer .path8:before {
  content: "\e94b";
  margin-left: -1em;
  color: #ffffff;
}
.rbico-power-analizer .path9:before {
  content: "\e94c";
  margin-left: -1em;
  color: #000000;
}
.rbico-power-analizer .path10:before {
  content: "\e94d";
  margin-left: -1em;
  color: #000000;
}
.rbico-power-analizer .path11:before {
  content: "\e94e";
  margin-left: -1em;
  color: #000000;
}
.rbico-ouijalite-4 .path1:before {
  content: "\e94f";
  color: #000000;
}
.rbico-ouijalite-4 .path2:before {
  content: "\e950";
  margin-left: -1em;
  color: #ffffff;
}
.rbico-ouijalite-4 .path3:before {
  content: "\e951";
  margin-left: -1em;
  color: #ffffff;
}
.rbico-ouijalite-4 .path4:before {
  content: "\e952";
  margin-left: -1em;
  color: #ffffff;
}
.rbico-ouijalite-3:before {
  content: "\e953";
}
.rbico-ouijalite-2:before {
  content: "\e954";
}
.rbico-ouijalite:before {
  content: "\e955";
}
.rbico-omega-4:before {
  content: "\e956";
}
.rbico-omega-3 .path1:before {
  content: "\e957";
  color: #010101;
}
.rbico-omega-3 .path2:before {
  content: "\e958";
  margin-left: -1em;
  color: #000000;
}
.rbico-omega-2:before {
  content: "\e959";
}
.rbico-omega:before {
  content: "\e95a";
}
.rbico-neighborhood-map-4:before {
  content: "\e95b";
}
.rbico-neighborhood-map-3:before {
  content: "\e95c";
}
.rbico-neighborhood-map-2:before {
  content: "\e95d";
}
.rbico-neighborhood-map:before {
  content: "\e95e";
}
.rbico-inverter-2:before {
  content: "\e95f";
}
.rbico-inverter:before {
  content: "\e960";
}
.rbico-installer-guy-1:before {
  content: "\e961";
}
.rbico-installer-guy:before {
  content: "\e962";
}
.rbico-installer-4:before {
  content: "\e963";
}
.rbico-installer-3:before {
  content: "\e964";
}
.rbico-installer-2:before {
  content: "\e965";
}
.rbico-installer-guy1:before {
  content: "\e966";
}
.rbico-grid-4:before {
  content: "\e967";
}
.rbico-grid-3:before {
  content: "\e968";
}
.rbico-grid-2:before {
  content: "\e969";
}
.rbico-grid-1:before {
  content: "\e96a";
}
.rbico-dashboard-2:before {
  content: "\e96b";
}
.rbico-dashboard:before {
  content: "\e96c";
}
.rbico-alert-history-3:before {
  content: "\e96d";
}
.rbico-alert-history-2:before {
  content: "\e96e";
}
.rbico-alert-history:before {
  content: "\e96f";
}
.rbico-logo-2:before {
  content: "\e911";
}
.rbico-logo-1 .path1:before {
  content: "\e912";
  color: #000000;
}
.rbico-logo-1 .path2:before {
  content: "\e913";
  margin-left: -0.93457031em;
  color: #000000;
}
.rbico-logo-1 .path3:before {
  content: "\e914";
  margin-left: -0.93457031em;
  color: #000000;
  opacity: 0.4;
}
.rbico-logo-1 .path4:before {
  content: "\e915";
  margin-left: -0.93457031em;
  color: #000000;
  opacity: 0.4;
}
.rbico-logo-1 .path5:before {
  content: "\e916";
  margin-left: -0.93457031em;
  color: #000000;
  opacity: 0.4;
}
.rbico-logo-1 .path6:before {
  content: "\e917";
  margin-left: -0.93457031em;
  color: #000000;
  opacity: 0.4;
}
.rbico-logo-1 .path7:before {
  content: "\e918";
  margin-left: -0.93457031em;
  color: #000000;
}
.rbico-logo-1 .path8:before {
  content: "\e919";
  margin-left: -0.93457031em;
  color: #000000;
  opacity: 0.4;
}
.rbico-logo-1 .path9:before {
  content: "\e91a";
  margin-left: -0.93457031em;
  color: #000000;
}
.rbico-logo-1 .path10:before {
  content: "\e91b";
  margin-left: -0.93457031em;
  color: #000000;
  opacity: 0.4;
}
.rbico-logo-1 .path11:before {
  content: "\e91c";
  margin-left: -0.93457031em;
  color: #000000;
}
.rbico-logo-1 .path12:before {
  content: "\e91d";
  margin-left: -0.93457031em;
  color: #000000;
}
.rbico-logo-1 .path13:before {
  content: "\e91e";
  margin-left: -0.93457031em;
  color: #000000;
}
.rbico-logo-1 .path14:before {
  content: "\e91f";
  margin-left: -0.93457031em;
  color: #000000;
}
.rbico-logo-1 .path15:before {
  content: "\e920";
  margin-left: -0.93457031em;
  color: #000000;
}
.rbico-logo-1 .path16:before {
  content: "\e921";
  margin-left: -0.93457031em;
  color: #000000;
}
.rbico-logo-1 .path17:before {
  content: "\e922";
  margin-left: -0.93457031em;
  color: #000000;
  opacity: 0.4;
}
.rbico-logo-1 .path18:before {
  content: "\e923";
  margin-left: -0.93457031em;
  color: #d9d9d9;
  opacity: 0.4;
}
.rbico-logo-1 .path19:before {
  content: "\e924";
  margin-left: -0.93457031em;
  color: #000000;
  opacity: 0.4;
}
.rbico-logo-1 .path20:before {
  content: "\e925";
  margin-left: -0.93457031em;
  color: #d9d9d9;
  opacity: 0.4;
}
.rbico-logo-1 .path21:before {
  content: "\e926";
  margin-left: -0.93457031em;
  color: #000000;
}
.rbico-logo-1 .path22:before {
  content: "\e927";
  margin-left: -0.93457031em;
  color: #000000;
}
.rbico-logo-1 .path23:before {
  content: "\e928";
  margin-left: -0.93457031em;
  color: #000000;
}
.rbico-logo-1 .path24:before {
  content: "\e929";
  margin-left: -0.93457031em;
  color: #000000;
}
.rbico-bot:before {
  content: "\e92a";
}
.rbico-fleet:before {
  content: "\e905";
}
.rbico-voltage-fault-alt:before {
  content: "\e90f";
}
.rbico-voltage-fault:before {
  content: "\e90e";
}
.rbico-out-of-power:before {
  content: "\e90b";
}
.rbico-off-comms:before {
  content: "\e90a";
}
.rbico-network:before {
  content: "\e909";
}
.rbico-grid-alt:before {
  content: "\e907";
}
.rbico-grid:before {
  content: "\e906";
}
.rbico-feeder:before {
  content: "\e904";
}
.rbico-zone-substation:before {
  content: "\e910";
}
.rbico-status:before {
  content: "\e90d";
}
.rbico-solar-panel:before {
  content: "\e90c";
}
.rbico-house-panel:before {
  content: "\e908";
}
.rbico-distribution-transformer:before {
  content: "\e903";
}
.rbico-device:before {
  content: "\e902";
}
.rbico-broken-neutral:before {
  content: "\e901";
}
.rbico-address:before {
  content: "\e900";
}